<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="col-offset-xs-1 col-xs-11">
                <h2 class="fa-2x fa fa-soccer-ball-o"> The Equipment Garage</h2>
            </div>
        </div>
    </div>
</nav>

<div class="container top-space-80">
    <div class="container-fluid" ng-controller="equipmentCtrl">
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group input-group-sm pull-right">
                            <a type="button" class="btn btn-sm btn-default detail-btn pull-right" uib-tooltip-placement="top" uib-tooltip="Cancel"
                            ui-sref="garage"><i class="fa fa-reply"></i></a>
                            <!--  I commented the buttons out because angular fire isn't working with $indexFor and $keyAt.  check garage.service.js
                            <button ng-if="vm.equipment_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                            uib-tooltip-placement="top" uib-tooltip="Last" ng-click="vm.last()">
                                <i class="fa fa-fast-forward"></i>
                            </button>
                            <button ng-if="vm.equipment_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                            uib-tooltip-placement="top" uib-tooltip="Next" ng-click="vm.next()">
                                <i class="fa fa-step-forward"></i>
                            </button>
                            <button ng-if="vm.equipment_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                            uib-tooltip-placement="top" uib-tooltip="Back" ng-click="vm.back()">
                                <i class="fa fa-step-backward"></i>
                            </button>
                            <button ng-if="vm.equipment_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                            uib-tooltip-placement="top" uib-tooltip="First" ng-click="vm.first()">
                                <i class="fa fa-fast-backward"></i>
                            </button>-->
                            <button ng-if="vm.equipment_id === null" type="button" class="btn btn-sm btn-primary detail-btn pull-right"
                            uib-tooltip-placement="top" uib-tooltip="Save" ng-click="vm.addEquipment()">
                                <i class="fa fa-floppy-o"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="panel panel-default">
                <div ng-if="vm.equipment_id === null" class="panel-heading">
                    <h3 class="panel-title"><span class="menu-icon fa fa-th-large"></span> New Equipment</h3>
                </div>
                <div ng-if="vm.equipment_id !== null" class="panel-heading">
                    <h3 class="panel-title"><span class="menu-icon fa fa-th-large"></span> {{vm.equipment.name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12"><br>
                            <div class="container">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="control-label col-xs-2">Name</label>
                                        <div class="col-xs-8">
                                            <input type="text" ng-model="vm.equipment.name" ng-change="vm.updateEquipment()" placeholder="Equipment Name" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-2">Amount</label>
                                        <div class="col-xs-8">
                                            <input type="text" ng-model="vm.equipment.amount" ng-change="vm.updateEquipment()" placeholder="Equipment Amount" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
